.top_bar{
    background-color: rgba(252, 168, 252, 0.336);
    text-align: right;
    padding: 15px;
    font-weight: 700;  
    font-display: white;
}
.link:hover{
    color: black;
}
h1{
    font-family: 'Otomanopee One', sans-serif;
    font-size: 50px;
}
.font_color{
    color: coral;
}
p{
    text-align: justify;
}
.width_half{
    width: 50%;
    padding-left: 10%;
}

.width_half img{
    width: 100%;
}
.top{
    display: flex;
}
.background{
    background-image:url(images/shapes/7.png);
    background-repeat: no-repeat;
}
.button{
    background-color:orange;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(orange,tomato);
    margin: auto;
    border-radius: 7px;    
}
.text_align{
    padding-right: 20%;
    font-size: 18px;
    padding-bottom: 10%;
}
.background_me{
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
}
.three_items{
padding-top: 0px;
    display: flex;
    
}
.three_items img{
    width: 70%;
}
.para_formation{
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
}